body {
  background-color: rgb(16, 15, 15);
  color: white;
  margin: 0px;
  overflow: hidden;
}

#ogol {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#menu {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  height: 10%;
  border-bottom: 0.5px solid white;
}

#menlewo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
  border-right: 0.5px solid white;
}
#menlewolewo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  border-right: 0.5px solid white;
}
#menprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  padding: 0 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#menprawoprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-left: 0.5px solid white;
  width: 10%;
  height: 100%;
}

#menlewolewo h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

#tresc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

#trescogol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid darkmagenta 3px;
  border-radius: 20px;
  width: 99%;
  height: 95%;
}

#trescogolgora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: solid darkmagenta 3px;
  border-radius: 20px;
  width: 100%;
  height: 20%;
}

#trescogolgoralewo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: solid darkmagenta 3px;
  width: 50%;
  height: 100%;
}

#trescogolgoraprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

#trescogoldol {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  border-top: solid darkmagenta 3px;
  border-radius: 20px;
  width: 100%;
  height: 80%;
}

#wydarzenie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border: solid white 3px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  background-color: rgb(31, 30, 30);
}

#divgora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: solid white 0.5px;
  width: 100%;
  height: 20%;
}

#divgoralewo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid white 0.5px;
  width: 20%;
  height: 100%;
}

#divgoraprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

#divsrodek {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  border-bottom: solid white 0.5px;
  width: 100%;
  height: 50%;
}

#divdol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 30%;
}

#divdollewo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-right: solid white 0.5px;
  width: 70%;
  height: 100%;
}

#divdollewolewo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid white 0.5px;
  width: 30%;
  height: 100%;
}

#divdollewoprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

#divdolprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  width: 30%;
  height: 100%;
}

#divdolprawogora {
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

#divdolprawodol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.input1 {
  background-color: rgb(255, 0, 0);
  border: solid rgb(102, 0, 0) 5px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 98%;
  color: black;
  width: 170px;
  height: 25px;
}

#zainteresbutton {
  background-color: rgb(5, 116, 242);
  border: solid rgb(32, 32, 221) 3px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 90%;
  color: black;
  width: 100%;
  height: 35px;
}

#zainteresbutton:hover {
  background-color: rgb(32, 32, 221);
}

#usun_zainteresbutton {
  background-color: rgb(170, 15, 15);
  border: solid rgb(32, 32, 221) 5px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 90%;
  border: solid rgb(82, 5, 5) 3px;
  color: black;
  width: 100%;
  height: 35px;
}

#usun_zainteresbutton:hover {
  background-color: rgb(58, 1, 1);
}

.input1:hover {
  background-color: rgb(102, 0, 0);
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.button-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-right: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 65px;
  width: 200px;
}

#button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: red;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 65px;
  width: 200px;
}
#button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 65px;
  width: 200px;
}

#button3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 65px;
  width: 200px;
}

#button3:hover {
  background-color: rgb(0, 0, 255);
}

#button1:hover {
  background-color: rgb(133, 8, 8);
}

#button2:hover {
  background-color: rgb(255, 111, 0);
}

.button:hover {
  background-color: rgb(121, 110, 110);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 8, 168);
  border-radius: 10px;
}

#buttonAdmin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: rebeccapurple;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 45px;
  width: 180px;
}

#buttonAdmin:hover {
  background-color: rgb(88, 4, 90);
}

.input {
  text-align: center;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
  padding: 0.4em;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.input:hover {
  background-color: grey;
  color: black;
}
.input:hover::placeholder {
  color: black;
}
#ogoladm {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

#lewoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: dotted darkmagenta 3px;
  width: 30%;
  height: 100%;
}

#lewoadmgora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: dotted darkmagenta 3px;
  width: 100%;
  height: 10%;
}

#lewoadmgoralewo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: dotted darkmagenta 3px;
  width: 50%;
  height: 100%;
}

#lewoadmgoraprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#lewoadmdol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 90%;
}

#lewoadmdolgora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  height: 10%;
}

#lewoadmdolgoralewo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#lewoadmdolgoraprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 50%;
  height: 100%;
}

.searchBox {
  position: relative;
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
  width: 40px;
}

.searchBox:hover {
  width: 90%;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  line-height: 40px;
  width: 0px;
  transition: width 0.4s ease-in-out;
}

.searchBox:hover .searchInput {
  width: 180px;
  padding: 0 6px;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s ease-in-out;
}

.searchButton:hover {
  background-color: white;
  color: #2f3640;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v141/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

#lewoadmdoldol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
  height: 90%;
}

#srodekadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: dotted darkmagenta 3px;
  width: 50%;
  height: 100%;
}

#srodekadmgora {
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  border-bottom: dotted darkmagenta 3px;
  width: 100%;
  height: 50%;
}

#srodekadmdol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

#prawoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
}

#prawoadmgora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: dotted darkmagenta 3px;
  width: 100%;
  height: 45%;
}

#formik {
  display: flex;
  flex-direction: column;
}

.inputBox {
  position: relative;
  width: 100%;
  background: #003e18;
  border: none;
  outline: none;
  padding: 25px 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 20px;
}

.inputBox::placeholder {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: white;
  transition: 0.5s;
  pointer-events: none;
}

.inputBox:focus::placeholder,
.inputBox:valid::placeholder {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: white;
}

.inputBoxSub {
  padding: 15px;
  border-radius: 10px;
  background: #003e18;
  color: white;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 10px;
}

.inputBoxSub:active {
  opacity: 0.6;
}

.inputBoxSub:hover {
  background-color: #001508;
}

.inputBox1 {
  position: relative;
  width: 100%;
  background: #003e18;
  border: none;
  outline: none;
  padding: 25px 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 20px;
}

.inputBox1::placeholder {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: white;
  transition: 0.5s;
  pointer-events: none;
}

.inputBox1:focus::placeholder,
.inputBox1:valid::placeholder {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: white;
}

.inputBoxSub1 {
  padding: 15px;
  border-radius: 10px;
  background: #003e18;
  color: white;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
}

.inputBoxSub1:active {
  opacity: 0.6;
}

.inputBoxSub1:hover {
  background-color: #001508;
}

.inputBox2 {
  position: relative;
  width: 100%;
  background: rgb(170, 15, 15);
  border: none;
  outline: none;
  padding: 25px 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 20px;
}

.inputBox2::placeholder {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: black;
  transition: 0.5s;
  pointer-events: none;
}

.inputBox2:focus::placeholder,
.inputBox2:valid::placeholder {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: black;
}

.inputBoxSub2 {
  padding: 15px;
  border-radius: 10px;
  background: rgb(170, 15, 15);
  color: black;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20px;
}

.inputBoxSub2:active {
  opacity: 0.6;
}

.inputBoxSub2:hover {
  background-color: rgb(58, 1, 1);
}

#prawoadmdol {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 55%;
}

#prawoadmdolgora {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: baseline;
  border-bottom: dotted darkmagenta 3px;
  width: 100%;
  height: 50%;
}

#prawoadmdoldol {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: baseline;
  width: 100%;
  height: 50%;
}

h1 {
  font-family: "Tahoma", sans-serif;
}

#h2 {
  font-family: "Tahoma", sans-serif;
}

h3 {
  font-family: "Tahoma", sans-serif;
}

#dobre {
  color: green;
}

#zle {
  color: red;
}

#uzytadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border: solid white 3px;
  font-family: comic sans ms;
  text-align: center;
  border-radius: 20px;
  width: 500px;
  height: 300px;
}

#divgoraadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: solid white 0.5px;
  width: 100%;
  height: 25%;
}

#divgoralewoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid white 0.5px;
  width: 20%;
  height: 100%;
}

#divgoraprawoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

#divsrodekadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  border-bottom: solid white 0.5px;
  width: 100%;
  height: 40%;
}

#divdoladm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 35%;
}

#divdollewoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid white 0.5px;
  width: 25%;
  height: 100%;
}

#divdolprawoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

#divdolprawogoraadm {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 40%;
}

#divdolprawodoladm {
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  height: 60%;
}

#buttonpowrot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: rebeccapurple;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 45px;
  width: 180px;
}

#buttonpowrot:hover {
  background-color: rgb(88, 4, 90);
}

#napisadmin {
  color: darkorange;
}

#napisadmin2 {
  color: darkmagenta;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 80%;
  height: 75%;
  box-shadow: 0 0 30px darkmagenta;
}

#tr1 {
  background-color: darkmagenta;
  color: darkorange;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

#tr2 {
  background-color: rgb(62, 5, 62);
  border-bottom: 1px solid darkorange;
  color: darkorange;
}

#tabela1 {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 80%;
  height: 75%;
  box-shadow: 0 0 30px darkorange;
}

#tr11 {
  background-color: orange;
  color: darkmagenta;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

#tr22 {
  background-color: darkorange;
  border-bottom: 1px solid darkmagenta;
  color: darkmagenta;
}

#buttonUsunZainteres {
  height: 100px;
  width: 400px;
  background-color: red;
}

#nazwa_wyd {
  font-family: "Tahoma", sans-serif;
}

#wys_ocen {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: solid 3px #061c0f;
  background: #003e18;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
#wys_ocen:hover {
  background-color: #001508;
}

select[name="ocena_wyd"] {
  padding: 8px;
  font-size: 85%;
  border-radius: 5px;
  background-color: rebeccapurple;
  height: 50%;
  width: 85%;
}

#div_do_zmiany {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 500px;
}

#inputson {
  padding: 15px;
  border-radius: 10px;
  background: #003e18;
  color: white;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 10px;
}

#inputson:hover {
  background-color: #001508;
}
