body {
  background-color: rgb(16, 15, 15);
  color: white;
  margin: 0px;
  overflow: hidden;
}

#ogol {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#menu {
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  height: 10%;
  border-bottom: 0.5px solid white;
}

#menlewo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
  border-right: 0.5px solid white; /* Linia oddzielająca elementy */
}
#menlewolewo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  border-right: 0.5px solid white; /* Linia oddzielająca elementy */
}
#menprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  padding: 0 20px; /* Odstępy wewnętrzne */
  color: white; /* Kolor tekstu */
  font-family: Arial, Helvetica, sans-serif; /* Czcionka */
  font-weight: bold; /* Pogrubienie tekstu */
  font-size: 16px; /* Rozmiar tekstu */
}

#menprawoprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-left: 0.5px solid white;
  width: 10%;
  height: 100%;
}

#menlewolewo h1 {
  font-size: 1.5em; /* Rozmiar tytułu */
  margin: 0; /* Usunięcie marginesu */
  padding: 0; /* Usunięcie wewnętrznego paddingu */
}

#tresc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

#trescogol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid darkmagenta 3px;
  border-radius: 20px;
  width: 99%;
  height: 95%;
}

#trescogolgora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: solid darkmagenta 3px;
  border-radius: 20px;
  width: 100%;
  height: 20%;
}

#trescogolgoralewo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: solid darkmagenta 3px;
  width: 50%;
  height: 100%;
}

#trescogolgoraprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

#trescogoldol {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  border-top: solid darkmagenta 3px;
  border-radius: 20px;
  width: 100%;
  height: 80%; /* Ustaw maksymalną wysokość */
}

#wydarzenie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border: solid white 3px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  border-radius: 20px;
  width: 600px;
  height: 400px;
}

#divgora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: solid white 0.5px;
  width: 100%;
  height: 20%;
}

#divgoralewo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid white 0.5px;
  width: 20%;
  height: 100%;
}

#divgoraprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

#divsrodek {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  border-bottom: solid white 0.5px;
  width: 100%;
  height: 60%;
}

#divdol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

#divdollewo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-right: solid white 0.5px;
  width: 70%;
  height: 100%;
}

#divdollewolewo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid white 0.5px;
  width: 30%;
  height: 100%;
}

#divdollewoprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}

#divdolprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.input1 {
  background-color: rgb(255, 0, 0);
  border: solid rgb(102, 0, 0) 5px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 98%;
  color: black;
  width: 170px;
  height: 25px;
}

#zainteresbutton {
  background-color: rgb(5, 116, 242);
  border: solid rgb(32, 32, 221) 5px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 98%;
  color: black;
  width: 140px;
  height: 40px;
}

#zainteresbutton:hover {
  background-color: rgb(32, 32, 221);
}

.input1:hover {
  background-color: rgb(102, 0, 0);
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.button-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-right: 10px; /*odstęp pomiędzy przyciskami*/
  background-color: black;
  color: white;
  text-decoration: none; /*brak podkreslenia*/
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 65px;
  width: 200px;
}

#button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: red;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 65px;
  width: 200px;
}
#button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 65px;
  width: 200px;
}

#button1:hover {
  background-color: rgb(133, 8, 8);
}

#button2:hover {
  background-color: rgb(255, 111, 0);
}

.button:hover {
  background-color: rgb(121, 110, 110);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 8, 168);
  border-radius: 10px;
}

#buttonAdmin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: rebeccapurple;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 45px;
  width: 180px;
}

#buttonAdmin:hover {
  background-color: rgb(88, 4, 90);
}

.input {
  text-align: center;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
  padding: 0.4em;
  color: rgb(255, 255, 255);
}

#ogoladm {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

#lewoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: dotted darkmagenta 3px;
  width: 30%;
  height: 100%;
}

#lewoadmgora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: dotted darkmagenta 3px;
  width: 100%;
  height: 10%;
}

#lewoadmgoralewo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: dotted darkmagenta 3px;
  width: 50%;
  height: 100%;
}

#lewoadmgoraprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#lewoadmdol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 90%;
}

#lewoadmdolgora {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 100%;
  height: 10%;
}

#lewoadmdoldol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
  height: 90%;
}

#srodekadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: dotted darkmagenta 3px;
  width: 50%;
  height: 100%;
}

#prawoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
}
h1 {
  font-family: "Tahoma", sans-serif;
}

h3 {
  font-family: "Tahoma", sans-serif;
}

#dobre {
  color: green;
}

#zle {
  color: red;
}

#uzytadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border: solid white 3px;
  font-family: comic sans ms;
  text-align: center;
  border-radius: 20px;
  width: 500px;
  height: 300px;
}

#divgoraadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: solid white 0.5px;
  width: 100%;
  height: 25%;
}

#divgoralewoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid white 0.5px;
  width: 20%;
  height: 100%;
}

#divgoraprawoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

#divsrodekadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  border-bottom: solid white 0.5px;
  width: 100%;
  height: 40%;
}

#divdoladm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 35%;
}

#divdollewoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid white 0.5px;
  width: 25%;
  height: 100%;
}

#divdolprawoadm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

#divdolprawogoraadm {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 40%;
}

#divdolprawodoladm {
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  height: 60%;
}

#buttonpowrot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: rebeccapurple;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 45px;
  width: 180px;
}

#buttonpowrot:hover {
  background-color: rgb(88, 4, 90);
}

#napisadmin {
  color: darkorange;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 80%;
  height: 60%;
  box-shadow: 0 0 30px darkmagenta;
}

#tr1 {
  background-color: darkmagenta;
  color: darkorange;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

#tr2 {
  background-color: rgb(62, 5, 62);
  border-bottom: 1px solid darkorange;
  color: darkorange;
}

#tr2.active-row {
  font-weight: bold;
  color: #009879;
}

#buttonUsunZainteres {
  height: 100px;
  width: 400px;
  background-color: red;
}
