body {
  background-color: darkgray;
  color: black;
  margin: 0px;
  overflow: hidden;
}

#ogol {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  border-bottom: 0.5px solid white;
}
#menlewolewo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
}

#menlewo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
}

#menprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-left: 0.5px solid white;
  width: 10%;
  height: 100%;
}

#menprawoprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-left: 0.5px solid white;
  width: 10%;
  height: 100%;
}

#tresc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

#trescogol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid darkmagenta 3px;
  border-radius: 20px;
  width: 99%;
  height: 95%;
}

#trescogolgora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: solid darkmagenta 3px;
  border-radius: 20px;
  width: 100%;
  height: 20%;
}

#trescogolgoralewo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: solid darkmagenta 3px;
  width: 50%;
  height: 100%;
}

#trescogolgoraprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

#trescogoldol {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  border-top: solid darkmagenta 3px;
  border-radius: 20px;
  width: 100%;
  height: 80%; /* Ustaw maksymalną wysokość */
}

#wydarzenie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border: solid black 3px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  border-radius: 20px;
  width: 500px;
  height: 300px;
}

#divgora {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: solid white 0.5px;
  width: 100%;
  height: 20%;
}

#divgoralewo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid white 0.5px;
  width: 20%;
  height: 100%;
}

#divgoraprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

#divsrodek {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  border-bottom: solid white 0.5px;
  width: 100%;
  height: 60%;
}

#divdol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

#divdollewo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid white 0.5px;
  width: 70%;
  height: 100%;
}

#divdolprawo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

#usunbutton {
  background-color: rgb(255, 0, 0);
  border: solid rgb(102, 0, 0) 5px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 98%;
  color: black;
  width: 120px;
  height: 25px;
}

#zainteresbutton {
  background-color: rgb(5, 116, 242);
  border: solid rgb(32, 32, 221) 5px;
  border-radius: 20px;
  transition: 0.3s ease;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 98%;
  color: black;
  width: 140px;
  height: 40px;
}

#zainteresbutton:hover {
  background-color: rgb(32, 32, 221);
}

#usunbutton:hover {
  background-color: rgb(102, 0, 0);
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.button-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-right: 10px; /*odstęp pomiędzy przyciskami*/
  background-color: black;
  color: white;
  text-decoration: none; /*brak podkreslenia*/
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 65px;
  width: 200px;
}

#button1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: red;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 65px;
  width: 200px;
}

#button1:hover {
  background-color: rgb(133, 8, 8);
}

.button:hover {
  background-color: rgb(121, 110, 110);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

#buttonAdmin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: rebeccapurple;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 45px;
  width: 180px;
}

#buttonAdmin:hover {
  background-color: rgb(88, 4, 90);
}
